.App {
  text-align: center;
}

#head-bar {
  display: flex;
  flex-direction: row;
  background-color: rgb(212, 103, 103);
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.head-bar {
  display: flex;
  flex-direction: row;
  width: auto;
}

#head-bar-right {
  align-items: center;
}

#head-bar-center {
  flex: 1 1 auto;
  margin-left: 10px;
  margin-right: 10px;
}

.head-bar-button-img {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.head-bar-button-img-smaller {
  height: 70%;
  max-width: 70%;
  max-height: 70%;
  width: 70%;
}

.rounded {
  border-radius: 50%;
}
#head-bar-button-arrow {
  height: 30%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 30%;
  margin-right: 5px;
}

.profile {
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article-card-lower-bar {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: flex-end;
}

.article-card-creation {
  flex: 1 1 auto;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

.article-card {
  background-color: white;
  margin: 1rem 0px;
  box-shadow: 0px 1px #888888;
}

h4 {
  margin-top: 0;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #efefef;
  text-align: left;
  color: rgb(0, 0, 0);
  border: black solid 1px;
  border-radius: 0.2rem;
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.sort {
  width: auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-transform: capitalize;
}
.drop-content-sort {
  left: 0;
}
/* Links inside the dropdown */
.dropdown-content a,
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content div:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(212, 103, 103);
}
.arrow {
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#mobile-nav-bar {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 163, 163);
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.mobile-bar {
  display: flex;
  flex-direction: row;
  width: auto;
}
.flex-bar {
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 10px 10px;
}
.flex-bar-center {
  flex: 1 1 auto;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.flex-stretch {
  flex: 1 1 auto;
}

#section-comments-list {
  background-color: white;
  margin: 1rem 0px;
  margin-bottom: 0;
  box-shadow: 0px 2px #888888;
}

.article-card-owner {
  display: flex;
  flex-direction: row;
  width: auto;
}
.comment-card-body,
.comment-card p {
  margin: 0;
}
.comment-card-body {
  font-size: 0.8rem;
}
.comment-card {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
  border-bottom: rgba(0, 0, 0, 0.185) solid 1px;
}
.comment-card-lower-bar {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: flex-end;
  font-size: 0.7rem;
  align-items: center;
  justify-content: center;
}

.comment-card {
  display: flex;
  flex-direction: row;
  width: auto;
}
.comment-card-owner {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 25px;
}
.comment-card-owner-delete {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  filter: grayscale(100%);
}

.comment-card-owner-img-container {
  padding: 5px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  margin-right: 5px;
}
.comment-card-owner-img-container:hover {
  opacity: 0.6;
  cursor: pointer;
}
.comment-card-avatar {
  margin-right: 0.3rem;
  padding-right: 0.2rem;
  margin-top: 0.3rem;
}
.comment-card-avatar-img {
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  width: 50px;
  object-fit: cover;
}
#form-comment-post {
  background-color: #ffffff;
}
.comment-post-input {
  display: flex;
  flex-direction: row;
  width: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  padding-right: 5%;
}
.comment-post-avatar {
  margin-right: 0.3rem;
  padding-right: 0.2rem;
}

.comment-post-avatar {
  margin-right: 0.3rem;
  padding-right: 0.2rem;
}

.comment-post-content {
  flex: 1 1 auto;
}

#comment {
  width: 100%;
  border: none;
  border-bottom: 1px black solid;
}

.comment-post-submit {
  padding-bottom: 10px;
  padding-right: 2rem;
  text-align: right;
}

.hidden {
  display: none;
}

.article-comments-img {
  width: 30px;
  margin-right: 0.2rem;
}
.article-card-lower-bar {
  align-items: center;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.votes-arrow-container-top button:hover,
.votes-arrow-container-bottom button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.comment-card-comment {
  flex: 1 1 auto;
}

.comment-card-comment h4 {
  margin-bottom: 0px;
}

.comment-card-votes,
.article-card-votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  justify-content: flex-end;
}

.votes-number {
  margin: 0px 10px;
}

.votes-arrow-container-bottom {
  margin-bottom: 5px;
}

.active-vote {
  border-color: rgb(69, 88, 255);
}

.votes-arrow-container-top button,
.votes-arrow-container-bottom button {
  background-color: rgb(255, 255, 255);
}

#order {
  height: 84%;
  width: 40px;
  cursor: pointer;
}

.article-card-creation-details {
  font-size: 0.8rem;
  padding: 1px 20px;
  align-items: flex-end;
}
.article-card-creation-details p {
  margin-bottom: 0px;
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  cursor: pointer;
}

.article_id-nav-bar {
  margin-top: 1rem;
  background-color: rgb(255, 163, 163);
  height: 1rem;
  align-items: center;
}

.article_id-nav-bar button {
  text-transform: capitalize;
  padding: 0.4rem;
  background-color: #efefef;
}
